### Notebook 2: Initial Exploration of Avocado Data

This notebook contains the first series of models performed on this Price Elasticity Project: Linear Regression Modelling. The goal of this modeling is to determine any linear relationships between features and the Price Elasticity of Demand for Avocados.

Import the needed libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

Read in the dataset we want to use.

In [12]:
totalus = pd.read_csv('data/totalus_eod.csv')
totalus.head(3)

,date,averageprice,total_volume,4046,4225,4770,total_bags,small_bags,large bags,xl_bags,type,year,region,pct_chg_quantity,pct_chg_price,price_eod
0,2015-01-04,0.95,31324277.73,12357161.34,13624083.05,844093.32,4498940.02,3585321.58,894945.63,18672.81,conventional,2015,TotalUS,NaN,NaN,NaN
1,2015-01-11,1.01,29063542.75,11544810.53,12134773.38,866574.66,4517384.18,3783261.16,718333.87,15789.15,conventional,2015,TotalUS,-0.072,0.063,-1.142857
2,2015-01-18,1.03,29043458.85,11858139.34,11701947.80,831301.90,4652069.81,3873041.26,771093.20,7935.35,conventional,2015,TotalUS,-0.001,0.020,-0.050000

Since we are going to use a Linear Regression model, we are looking for any linear relationships between features and price elasticity. I'm going to do some initial plotting to get a feel for any of those relationships, then get into the modelling.

In [18]:
peod = totalus[['price_eod']]
peod.describe()
#peod.plot(kind='hist')

        price_eod
count  168.000000
mean          NaN
std           NaN
min          -inf
25%     -2.736626
50%     -1.516905
75%     -0.515000
max           inf